{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Регистрация</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Имя пользователя</label>
                        <input type="username" name="username" class="form-control" id="id_username" required>
                        {% if form.username.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.username.errors.as_text }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_password1" class="form-label">Пароль</label>
                        <input type="password1" name="password1" class="form-control" id="id_password1" required>
                        {% if form.password1.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.password1.errors.as_text }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="id_password2" class="form-label" >Подтверждение пароля</label>
                        <input type="password2" name="password2" class="form-control" id="id_password2" required>
                        {% if form.password2.errors %}
                        <div class="invalid-feedback d-block">
                            {{ form.password2.errors.as_text }}
                        </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>
            </div>
            <div class="card-footer text-center">
                Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}